.login-sec{
    background:#F6F7FB;
    padding: 90px 0;
    width:100%;
    position: relative;
    z-index: 1;
    .login-row{
        background:url(../Images/login-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover  ;
        border-radius:10px;
    }
    .login-img{
        display: flex;
        justify-content: center;
        width:100%;
        img{
            margin-top: 40px;
            width:70%;
        }
    }
    .register-img{
        margin-top: 50px;
    }
    .login-heading{
        padding:50px 50px;
        padding-left: 150px;
        h2{
            margin-bottom: 15px;
            text-align: center;
            color: #fff;
            font-family: auto;
            font-size: 35px;
            font-weight: 800;
        }
    }
    .login-from{
        .form-input{
            label{
                color:#f0efef;
                font-size: 18px;
                font-weight: 400;
                font-family: system-ui;
            }
            .form-control {
                display: block;
                width: 100%;
                padding: 10px 25px;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                appearance: none;
                background-color: #ffffff66;
                color: #ffffff;
                border: 1px solid #ffffff99;
                background-clip: padding-box;
                border-radius: 50px;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                box-shadow:0px 4px 6px #b8b4b4;
                &::placeholder{
                    color:#26646B;
                }
                &:focus{
                    box-shadow:0 0 0 0.25rem #0f626a4d;
                }
            }
        }
        .form-btn{
            padding:40px 20px;
            display: flex;
            justify-content: center;
            width: 100%;
            .login-btn{
                 text-decoration: none;
                 background-color: #FBD85F;
                 color: #000000;
                 padding:10px 50px;
                 border-radius:50px;
                 font-size:22px;
                 font-weight: 500;
                 font-family: auto;
                 transition: all 0.5s ease;
                 &:hover{
                    background-color: #c5a73a;
                 }
            }
        }
        .form-input-password{
            margin-top:20px;
        }
        .form-input-forget {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;
            a{
                text-decoration: none;
                font-size:17px;
                font-weight: 400;
                font-family: system-ui;
                color: #ffffff;
                transition: all 0.5s ease;
                &:hover{
                   color: #00e5ff;
                }
            }
        }
    }
}

@media (max-width:400px) {
    .login-sec .login-from .form-input-forget {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        flex-direction: column;
    }
}



@media (max-width:576px) {
     .login-img-div{
        display: none;
     }
     .login-sec .login-row{
        margin:0;
     }

    .login-sec .login-heading {
        background: #26636a7d;
        padding: 50px 10px;
        border-radius: 10px;
        margin: 20px 0;
     }
}
@media (min-width:577px)  and (max-width:992px) {
    .login-img-div{
       display: none;
    }
    .login-sec .login-row{
       margin:0;
       padding:50px;
    }

   .login-sec .login-heading {
       background: #26636a7d;
       padding: 50px 50px;
       border-radius: 10px;
       margin: 20px 0;
    }
}