:root {
  --theme-bg: #f7f9fb;
  --primary-color: #5c67f7;
  --secondary-color: #2ecc71;
  --header-bg: #fff;
  --sidebar-bg: #151429;
 --icon-bg:#878a99;
  --sidebar-btn: #5c67f7;
  --txt-primary: #5c67f7;
  --sidebar-txt: #565656;
  --sidebar-txt-hover: #5c67f7;
  --txt-white: #fff;
  --txt-black: #000;
 
  --primary-btn: #5c67f7;
  --secondary-btn: #e6276d;
}

[data-theme="dark"] {
  --theme-bg: #1e1e2f;
  --primary-color: #8b9eff;
  --secondary-color: #27ae60;
  --header-bg: #262a30;
  --sidebar-bg: #212529;
  --icon-bg:#878a99;

  --sidebar-btn: #8b9eff;
  --txt-primary: #8b9eff;
  --sidebar-txt: #ccc;
  --sidebar-txt-hover: #8b9eff;
  --txt-white: #fff;
  --txt-black: #000;
 
  --primary-btn: #8b9eff;
  --secondary-btn: #ff4081;
}